# Fichier .env — développement local uniquement
# NE PAS committer ce fichier (ajouté dans .gitignore)
# En production K8s, ces valeurs viennent du ConfigMap et du Secret

PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bookshelf
DB_USER=postgres
DB_PASSWORD=postgres
